#####################################################################################
# Ignore this files
#####################################################################################

*~
.*

#####################################################################################
# Ignore this directories
#####################################################################################

bower_components
dist
node_modules

#####################################################################################
# Accept this files
#####################################################################################

!.bowerrc
!.editorconfig
!.gitattributes
!.gitignore
!.jshintrc
!.travis.yml
