#####################################################################################
# Ignore this files
#####################################################################################

.*

#####################################################################################
# Accept this files
#####################################################################################

!.gitignore
