<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/home">{[{ appName }]}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/home">Home</a></li>
        <li><a href="#/buscarissues">Buscar Issues</a></li>
        <li><a href="#/angulife">Angulife</a></li>
        <li><a href="#/tarefas">Lista de Tarefas</a></li>
      </ul>
    </div>
  </div>
</div>
